@mixin pop-300 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
@mixin pop-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
@mixin pop-500 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
@mixin pop-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
@mixin pop-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}